
@using WalkUpAdvertisingShellWeb.Models
@model WalkUpAdvertisingShellWeb.Models.DeviceSectionViewModel
@{
    Layout = null; //Disables the footer from getting rendered
    ViewBag.Title = "Manage";
}

@*<script type="text/javascript">

        $(document).ready(function () {

            $('#btnTest').click(function (e) {

                $.ajax({
                    url: "/ManagePerson/AddEmergencyContact",
                    success: function (student) {
                        var stdnt = "ID: " + student.ID + "<br/>"
                            + "Name: " + student.Name + "<br/>"
                            + "Grades: " + student.Grades;
                        $("#yolo").html(stdnt);
                    }
                });

                alert("yolo");
            });

        });

    </script>*@

@{
    if (Model.DeviceLinks != null)
    {
        foreach (var deviceLinkDto in Model.DeviceLinks)
        {


            <div>
                @Html.Label(@deviceLinkDto.Id)
                <a href=@deviceLinkDto.EditUrl>Edit</a> |
                <a href=@deviceLinkDto.DeleteUrl>Delete</a>
                <br />
                <br />
            </div>
        }
    }
}