@model WalkUpAdvertisingShellWeb.Models.ManageDeviceIndexViewModel


@{
    ViewBag.Title = "Manage Device";

}


<script type="text/javascript">

    $(document).ready(function() {
        $('#btnRegisterDevice').click(function () {
            alert("here");
            document.location = '@Url.Action("RegisterDevice", "ManageDevice")';
        });
    });
</script>

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>

    <h4>This page allows you to Add, Modify, Deactivate Devices</h4>
    <hr />

    @foreach (var renderAction in Model.PageRenderActions)
    {
        Html.RenderAction(renderAction.RenderAction, renderAction.RenderController, new { ids = renderAction.Ids });
    }

    <input id="btnRegisterDevice" type="button" value="Register New Device" />

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
